@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
body {
    font-size: 15px;
    font-family: 'Spartan';
    color: var(--white);
}
h1 {
    font-weight: 700;
    color: var(--very-dark-magenta);
}
h2 {
    font-weight: 700;
    font-size: 12px;
    color: var(--very-dark-magenta);
}
p {
    font-weight: 400;
    color: var(--dark-grayish-magenta);
}
h1, h2, p {
    text-align: center;
}
.rate {
    background-color: var(--light-grayish-magenta);
    padding: 8px 0;
    margin: 12px auto;
}
.star {
    height: 16px;
    text-align: center;
    padding: 5px 0;
}
.comment {
    background-color: var(--very-dark-magenta);
}
.comment .profile {
    display: flex;
}
.comment .status {
    color: var(--soft-pink);
}
.comment p {
    text-align: left;
    color: var(--light-grayish-magenta);
}
.comment .name {
    color: var(--light-grayish-magenta);
    font-weight: 500;;
}
.attribution {
    font-size: 11px;
    text-align: center;
    color:hsl(0, 0%, 100%);
    padding-bottom: 10px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}